 h1{color: #354864;}
 h2{color: #4e5e6e;}
 p{color: #4e5e6e;}
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #f1eeea;
                margin: 0;
                padding: 0px;
            }
            .container {
                width: 800px;
                margin: auto;
                background-color: lightpink;
            }
            .left {
                width:48%;
                float:left;
            }
              .right{
                width:48%;
                float:right;
            }
            article p{
                color:brown;
            }
            footer{
                text-align: center;
                background-color: lightsalmon;
                clear: both;
                width: 100%;    
                padding: 20px;
                padding-top: 20px;
                visibility: visible;
            }
                table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }   
        th, td {
            padding: 10px;
        }
        th {
            text-align: left;
        }
        .mygroup {
            background-color: lightblue;
        }