 h1{color: hotpink;}
            body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: lightgrey;
                margin: 0;
                padding: 0px;
            }
            .container {
                width: 800px;
                margin: auto;
                background-color: lightpink;
            }
            .left {
                width:48%;
                float:left;
            }
              .right{
                width:48%;
                float:right;
            }
            article p{
                color:brown;
            }
            footer{
                text-align: center;
                background-color: lightsalmon;
                clear: both;
                width: 100%;    
                padding: 20px;
                padding-top: 20px;
                visibility: visible;
            }